body {
  font: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  color: black;
}

.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

.home-section {
	background-color: #4eabe5;
	color: white;
}

.about-section {
	background-color: #a1aaaf;
	color: white;
}

.contact-section {
	background-color: #a1aaaf;
	color: white;
}