body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  color: black;
}

.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

.home-section {
	background-color: #4eabe5;
	color: white;
}

.social {
  cursor: pointer;
  color: white;
}

h1 {
  margin-top: 30px;
}

.about-section {
	background-color: #a1aaaf;
	color: white;
}

.portfolio-img {
  border: solid;
  border-width: 5px;
  border-color: black;
}

.project-title {
  margin-top: 10px;
}

.contact-section {
	background-color: #a1aaaf;
	color: white;
}

.fa {
  font-size: 4em;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}